

#URL Rewriting du site web
<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteRule    ^accueil/?$    index.php    [L]

    RewriteRule    ^reservation/?$    index.php?section=reservation    [L]
    RewriteRule    ^reservation/?$    index.php?section=reservation&action=visualiser    [L]

    RewriteRule    ^hebergement/?$    index.php?section=hebergement    [L]
    

</IfModule>