

#URL Rewriting du site web
<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteRule    ^accueil/?$    index.php    [L]

    RewriteRule    ^reservation/?$    index.php?section=reservation    [L]
    RewriteRule    ^reservation/visualiser?$    index.php?section=reservation&action=visualiser    [L]

    RewriteRule    ^hebergement/?$    index.php?section=hebergement    [L]

    RewriteRule    ^connexion/?$    index.php?section=connexion    [L]

    RewriteRule    ^connexion/login?$    index.php?section=connexion&action=login    [L]
    

</IfModule>